<script>
    console.log("Test form ludovic");
    jQuery(document).ready(() => {
       
        let validations = [
            () => {
            let ret = [];
            let oldVal = jQuery('input[name="code_postal"]').val()
            let newVal = oldVal.split(" ").join("")
                               .split("-").join("");
            if(oldVal != newVal)
                jQuery('input[name="code_postal"]').val(newVal);

            if(jQuery('.ui.checkbox.checked input[name="freq"]').length <= 0)
            {
                ret.push( "Choisissez une fréquence");
            }
            if(!newVal)
            {
                ret.push( "Saisissez un code postal");
            }
            else if(!/^[A-Za-z][0-9][A-Za-z](-| |)[0-9][A-Za-z][0-9]$/i.test(newVal)){
                ret.push( "Postal Code invalide");
            }
            return ret.join(", ");
        }, 
        () => {
            let ret = [];
            if(!["gardiennage", "activity", "domestic", "accompagnement", "supervision"]
            .some(name=>jQuery('.ui.checkbox.checked input[name="'+name+'"]').length > 0))
            {
                ret.push( "Saisissez un type de services");
            }
            return ret.join(", ");
        }, 
        () => { 
            let ret = [];
            if(jQuery('.ui.checkbox.checked input[name="quand_avez"]').length <= 0)
            {
                ret.push( "Choisissez un temps");
            }
            return ret.join(", ");
        }, () => {
            return null;
        }]
        for (let i = 1; i <= 3; i++) {
            let thisDiv = '#btnPage' + i;
            let nextDiv = '#btnPage' + (1 + i);
            jQuery(thisDiv).click((e) => {
                e.preventDefault();
                console.log("Btn Page " + i);
                let errMsg = validations[i - 1]();
                if (!errMsg) {
                    jQuery("#formPage" + i).hide();
                    jQuery("#formPage" + (i + 1)).show();
                } else {
                    alert(errMsg);
                }
            });
            jQuery(nextDiv + "back").click((e) => {
                e.preventDefault();
                console.log("Btn Back to " + i);
                jQuery("#formPage" + (i + 1)).hide();
                jQuery('#formPage' + i).show();
            });
        }

        // Validdate Postal Code : [A-Za-z][0-9][A-Za-z](-| |)[0-9][A-Za-z][0-9]

    });
</script>

<!-- PREVIOUS FORM (Multi pages 

        <form
            action="https://expertise24-7.com/placement/component/sppagebuilder/?view=page&id=23&chronoform=soutien-onepage&event=submit"
            method="post" name="informations-form" id="informations-form" data-id="informations-form"
            class="ui form G2-form" data-valloc="inlinetext" enctype="multipart/form-data"
            data-dtask="send/self" data-result="replace/self" data-subanimation="1">
        -->
<div class="formGnitic">
    <form
        action="https://expertise24-7.com/placement/component/sppagebuilder/?view=page&amp;id=23&amp;gniticForm=true&amp;chronoform=soutien-onepage&amp;event=submit"
        method="post" name="one-form2" id="one-form2" data-id="one-form2" class="ui form G2-form"
        data-valloc="inlinetext" enctype="multipart/form-data" data-dtask="send/self" data-result="replace/self"
        data-subanimation="1">
        <!-- PAGE 1 -->
        <div class="container-fluid container-main">
            <div id="formPage1">
                <!-- Begin Content -->

                <div class="row-fluid">
                    <div class="span12">
                        <div id="system-message-container">
                        </div>

                        <div class="semanticui-body G2-joomla chronoforms manager index">
                            <div>
                                <div class="progress-container">
                                    <ul class="progressbar">
                                        <li class="active cur">Fréquence</li>
                                        <li>Quoi</li>
                                        <li>Quand</li>
                                        <li>Informations</li>
                                    </ul>
                                </div>
                                <div class="field "><label for="code_postal">Code Postal</label>
                                    <input
                                        data-validationrules="{&quot;identifier&quot;:&quot;code_postal-main&quot;,&quot;optional&quot;:false,&quot;rules&quot;:[{&quot;type&quot;:&quot;regExp[\/([a-z][0-9]){3}\/i]&quot;,&quot;prompt&quot;:&quot;Veillez saisir un code postal valide sans espaces.&quot;},{&quot;type&quot;:&quot;minLength[6]&quot;,&quot;prompt&quot;:&quot;Veillez saisir un code postal valide sans espaces.&quot;},{&quot;type&quot;:&quot;maxLength[6]&quot;,&quot;prompt&quot;:&quot;Veillez saisir un code postal valide sans espaces.&quot;}]}"
                                        data-validate="code_postal-main" placeholder="" name="code_postal"
                                        id="code_postal" value="" type="text"></div>
                                <div class="multifield grouped fields"><label>À quelle fréquence avez-vous besoin de
                                        services?</label>
                                    <input type="hidden" name="freq" value="" data-ghost="1">
                                    <div class="field">
                                        <div class="ui checkbox radio">
                                            <input class="gnitic" name="freq" id="freq_1" type="radio" value="r"
                                                tabindex="0">
                                            <label for="freq_1">Régulier</label></div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox radio">
                                            <input class="gnitic" name="freq" id="freq_2" type="radio" value="p"
                                                tabindex="0">
                                            <label for="freq_2">Ponctuel</label></div>
                                    </div>
                                </div>
                                <button class="ui button green" id="btnPage1">Suivant</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </div>

        </div>

        <!-- PAGE 2 -->
        <div id="formPage2" class="t3-content col-xs-12" style="display:none;">

            <div class="semanticui-body G2-joomla chronoforms  index">
                <div>
                    <div class="progress-container">
                        <ul class="progressbar">
                            <li class="active">Fréquence</li>
                            <li class="active cur">Quoi</li>
                            <li>Quand</li>
                            <li>Informations</li>
                        </ul>
                    </div>
                    <h2 class="ui header dividing">De quel type de services avez-vous besoin?</h2>
                    <div class="field ">
                        <div class="ui checkbox"><input type="hidden" name="gardiennage" value="" data-ghost="1">
                            <input class="gnitic" name="gardiennage" id="gardiennage" value="oui" data-value=""
                                type="checkbox" tabindex="0">
                            <label for="gardiennage">Gardiennage, surveillance ou répit aux aidants naturels</label>
                        </div>
                    </div>
                    <div class="field ">
                        <div class="ui checkbox"><input type="hidden" name="activity" value="" data-ghost="1">
                            <input class="gnitic" name="activity" id="activity" value="oui" data-value=""
                                type="checkbox" tabindex="0">
                            <label for="activity">Aide liée aux activités de la vie quotidienne</label></div>
                    </div>
                    <div class="field ">
                        <div class="ui checkbox"><input type="hidden" name="domestic" value="" data-ghost="1">
                            <input class="gnitic" name="domestic" id="domestic" value="oui" data-value=""
                                type="checkbox" tabindex="0">
                            <label for="domestic">Aide liée aux activités de la vie domestique</label></div>
                    </div>
                    <div class="field ">
                        <div class="ui checkbox"><input type="hidden" name="accompagnement" value="" data-ghost="1">
                            <input class="gnitic" name="accompagnement" id="accompagnement" value="oui" data-value=""
                                type="checkbox" tabindex="0">
                            <label for="accompagnement">Accompagnement (rendez-vous médical ou autre)</label></div>
                    </div>
                    <div class="field ">
                        <div class="ui checkbox"><input type="hidden" name="supervision" value="" data-ghost="1">
                            <input class="gnitic" name="supervision" id="supervision" value="oui" data-value=""
                                type="checkbox" tabindex="0">
                            <label for="supervision">Supervision de la prise de médicament</label></div>
                    </div>
                    <button class="ui button red" id="btnPage2back"><i class="icon left arrow"></i> Back</button>
                    <button class="ui button green" id="btnPage2">Suivant</button>
                </div>

            </div>
        </div>


        <!-- PAGE 3 -->
        <div id="formPage3" class="container-fluid container-main" style="display:none;">
            <section id="content">
                <!-- Begin Content -->

                <div class="row-fluid">
                    <div class="span12">
                        <div id="system-message-container">
                        </div>

                        <div class="semanticui-body G2-joomla chronoforms manager index">
                            <div>
                                <div class="progress-container">
                                    <ul class="progressbar">
                                        <li class="active">Fréquence</li>
                                        <li class="active">Quoi</li>
                                        <li class="active cur">Quand</li>
                                        <li>Informations</li>
                                    </ul>
                                </div>
                                <div class="multifield grouped fields required"><label>Quand avez-vous besoin de ces
                                        services?</label>
                                    <input type="hidden" name="quand_avez" value="" data-ghost="1">
                                    <div class="field">
                                        <div class="ui checkbox radio">
                                            <input
                                                data-validationrules="{&quot;identifier&quot;:&quot;quand_avez-main&quot;,&quot;rules&quot;:[{&quot;type&quot;:&quot;minChecked[1]&quot;,&quot;prompt&quot;:&quot;Quand avez-vous besoin de ces services?&quot;}]}"
                                                data-validate="quand_avez-main" name="quand_avez" class="gnitic"
                                                id="quand_avez_1" type="radio" value="s" tabindex="0">
                                            <label for="quand_avez_1">Dès cette semaine</label></div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox radio"><input name="quand_avez" id="quand_avez_2"
                                                class="gnitic" type="radio" value="m" tabindex="0">
                                            <label for="quand_avez_2">Le mois prochain</label></div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox radio"><input name="quand_avez" id="quand_avez_3"
                                                class="gnitic" type="radio" value="f" tabindex="0">
                                            <label for="quand_avez_3">Dans le futur</label></div>
                                    </div>
                                </div>
                                <button class="ui button red" id="btnPage3back"><i class="icon left arrow"></i>
                                    Back</button>
                                <button class="ui button green" id="btnPage3">Suivant</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </section>

        </div>

        <!-- PAGE 4 -->
        <div id="formPage4" class="container-fluid container-main" style="display:none;">
            <section id="content">
                <!-- Begin Content -->

                <div class="row-fluid">
                    <div class="span12">
                        <div id="system-message-container">
                        </div>

                        <div class="semanticui-body G2-joomla chronoforms manager index">
                            <div class="progress-container">
                                <ul class="progressbar">
                                    <li class="active">Fréquence</li>
                                    <li class="active">Quoi</li>
                                    <li class="active">Quand</li>
                                    <li class="active cur">Informations</li>
                                </ul>
                            </div>
                            <div class="field  required"><label for="nom">Nom</label>
                                <input
                                    data-validationrules="{&quot;identifier&quot;:&quot;nom-main&quot;,&quot;rules&quot;:[{&quot;type&quot;:&quot;required&quot;,&quot;prompt&quot;:&quot;Nom&quot;}]}"
                                    data-validate="nom-main" placeholder="" name="nom" id="nom" value="" type="text">
                            </div>
                            <div class="field  required"><label for="email">Your Email</label>
                                <input
                                    data-validationrules="{&quot;identifier&quot;:&quot;email-main&quot;,&quot;rules&quot;:[{&quot;type&quot;:&quot;required&quot;,&quot;prompt&quot;:&quot;Enter a valid gmail address&quot;},{&quot;type&quot;:&quot;email&quot;,&quot;prompt&quot;:&quot;Enter a valid gmail address&quot;}]}"
                                    data-validate="email-main" placeholder="" name="email" id="email" value=""
                                    type="text">
                            </div>
                            <div class="field  required"><label for="numro_de_tlphone">Numéro de téléphone</label>
                                <input
                                    data-validationrules="{&quot;identifier&quot;:&quot;numro_de_tlphone-main&quot;,&quot;rules&quot;:[{&quot;type&quot;:&quot;required&quot;,&quot;prompt&quot;:&quot;Num\u00e9ro de t\u00e9l\u00e9phone&quot;}]}"
                                    data-validate="numro_de_tlphone-main" placeholder="" name="numro_de_tlphone"
                                    id="numro_de_tlphone" value="" type="text"></div>
                            <div class="field "><label for="prcisions">Précisions</label>
                                <textarea rows="5" name="prcisions" id="prcisions" placeholder="" type="textarea"
                                    data-rows="5"></textarea></div>
                            <button class="ui button red" id="btnPage4back"><i class="icon left arrow"></i>
                                Back</button>
                            <button class="ui button green" name="button6" id="btnPage4" type="submit"
                                data-selections="0"
                                data-message="Please make a selection from the list">Envoyer</button>

                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </section>

        </div>
    </form>
</div>