.formGnitic label {
    font-family: "Amiri", serif;
    color: #e74c3c !important;
    text-align: center;
}

.formGnitic .checkbox label, .formGnitic .radio label {
    font-family: "Amiri", serif;
    color: black !important;
}

.formGnitic .checkbox input, .formGnitic .radio input {
    margin-left: 0px !important;
}

input.gnitic, .formGnitic .radio input {
    margin-left: 0px !important;
}

.formGnitic button.green {
    color: black;
}

.progressbar {
    counter-reset: step;
    font-family: "Amiri", serif;
}

ul {
    list-style: none;
}

.progress-container {
    padding-top: 10px;
    width: 100%;
    height: 105px;
    /*position: absolute;*/
    z-index: 1;
}

.progressbar li {
    float: left;
    width: 24%;
    position: relative;
    text-align: center;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    border: 2px solid #bebebe;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    line-height: 27px;
    background: white;
    color: #bebebe;
    text-align: center;
    font-weight: bold;
}

.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #979797;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li {
    color: #999;
    font-style: italic;
}

.progressbar li.cur {
    /*font-weight: bold;*/
    font-style: normal;
    color: #e74c3c;
    font-size: 33px;
}

.progressbar li.active+li:after {
    background: #e74c3c;
}

.progressbar .active:before {
    border-color: #e74c3c;
    background: #e74c3c;
    color: white;
    font-size: 33px;
}

.progressbar .active:before {
    width: 56px;
    height: 56px;
    margin-top: -10px;
    line-height: 51px;
    font-size: 36px
}

.formGnitic .checkbox label, .formGnitic .radio label {
    font-size: 20px;
}